# systemd config
# copy to /lib/systemd/system/upaste.service
#
# systemctl daemon-reload
# systemctl enable upaste.service
# systemctl start upaste
# systemctl status upaste.service
# # tail the log
# journalctl -f -u upaste
[Unit]
Description=uPaste App Server
Requires=After=postgresql.service
Requires=After=nginx.service

[Service]
WorkingDirectory=/<PATH_TO_PROJ_DIR>/upaste-server
ExecStart=/<PATH_TO_PROJ_DIR>/bin/upaste serve --port <PORT> --db-url postgres://<DB_USER>:<DB_PASS>@localhost/<DB_NAME> --log
Restart=on-failure

[Install]
WantedBy=multi-user.target
