<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="short icon" type="image/x-icon" href="/static/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/base.css">

        <link rel="stylesheet" href="/static/highlight/styles/tomorrow-night.css">
        <script src="/static/highlight/highlight.pack.js"></script>

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <div id="header">
            <div id="header-row">
                <div id="header-left">
                    <span id="header-title" onclick="window.location.href='/'"> &micro;Paste </span>
                    {% block title_extra %}
                    {% endblock title_extra %}
                </div>
                <div id="header-extra">
                    {% block header_extra %}
                    {% endblock header_extra %}
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock content %}
    </body>
</html>
