<html>
    <head>
        <link rel="short icon" type="image/x-icon" href="/static/favicon.ico"/>
        <!--
        <link rel="stylesheet" href="/static/highlight/styles/default.css">
        <script src="/static/highlight/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        -->
        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <h1 style="border-style: solid; border-width: 0 0 1 0"> uPaste </h1>

        {% block content %}
        {% endblock content %}
    </body>
</html>
