{% extends "core/base.html" %}

{% block head %}
<script src="/static/js/edit.js"></script>
{% endblock head %}


{% block title_extra %}
{% if paste_key %}
<span id="paste-id" class="tiny"> {{ paste_key }} </span>
<span id="share" class="clickable button tiny"> share </span>
{% endif %}
{% endblock title_extra %}


{% block header_extra %}
<select id="type-selector" {% if content %}style="display: none;"{% endif %}>
    {% for c_type in content_types %}
        <option value="{{ c_type }}">{{ c_type }}</option>
    {% endfor %}
</select>
{% if content %}
    <span id="edit-paste" class="clickable button"> Edit! </span>
    <span id="save-paste" class="clickable button" style="display: none;"> Save! </span>
{% else %}
    <span id="save-paste" class="clickable button"> Save! </span>
{% endif %}
{% endblock header_extra %}


{% block content %}
<div>
    <div id="editor-table">
        <div id="editor-row">
            <div id="gutter">
            </div>
            {% if content %}
            <input id="tab-width" type="hidden" value="4">
            <input id="paste-text" type="hidden" value="{{ content }}">
            <input id="paste-type" type="hidden" value="{{ content_type }}">
            <code id='editor' class="" contenteditable=false>
            {% else %}
            <code id='editor' class="" contenteditable=true>
            {% endif %}
            </code>
        </div>
    </div>
</div>
{% endblock content %}
